@charset "utf-8";
@import url("fonts.css");

/* Default Document Style */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #555;
}

a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

caption {
  width: 100%;
  height: 1px;
  color: transparent;
  overflow: hidden;
  position: relative;
}

input,
select {
  vertical-align: middle;
  font-family: inherit;
}

button {
  border: 0;
  padding: 0;
  margin: 0;
  background: transparent;
}

input,
textarea,
select,
button {
  font-family: inherit;
}

table {
  font-size: inherit;
}

pre,
code,
kbd,
samp,
tt {
  font-family: monospace;
  font-size: 108%;
  line-height: 100%;
}

legend {
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
}

img {
  vertical-align: top;
  border: 0;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

span,
a,
strong,
i,
em {
  display: inline-block;
}

table {
  width: 100%;
}

strong {
  font-weight: 700;
}

p {
  line-height: 1.4;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  border: none;
  color: #555;
  font-size: 1.7rem;
  font-style: normal;
  background: transparent;
  height: 100%;
  width: 100%;
  line-height: 1;
  letter-spacing: -0.5px;
  font-weight: 400;
  font-family: "NotoSansKR";
  transform-origin: center center;
  word-break: keep-all;
}

.blocking-time body {
  opacity: 0;
}

/* skipToContent */
#skipToContent a {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9999;
  width: 100%;
  height: 1px;
  margin-top: -1px;
  display: block;
  background-color: #3875c1;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  line-height: 1;
  text-align: center;
  overflow: hidden;
}

#skipToContent a:focus,
#skipToContent a:active {
  margin-top: 0px;
  height: auto;
  padding: 10px 0px;
}

.flex {
  display: flex !important;
  align-items: center;
}
/* Text Color */
.txt-color-black {
  color: #000 !important;
}

.txt-color-dgray {
  color: #222 !important;
}

.txt-color-gray {
  color: #bbb !important;
}

.txt-color-ltgray {
  color: #838383 !important;
}

.txt-color-red {
  color: #e60012 !important;
}

.txt-color-yellow {
  color: #f7ae00 !important;
}

.txt-color-cyan {
  color: #00b1f0 !important;
}

.txt-color-blue {
  color: #4c4fff !important;
}

.txt-color-navy {
  color: #063c6d !important;
}

.txt-color-skyblue {
  color: #378ee0 !important;
}

.txt-color-cobalt {
  color: #053868 !important;
}

.txt-color-white {
  color: #fff !important;
}

.txt-color-aqua {
  color: #01b4bb !important;
}

.txt-color-green {
  color: #7ec356 !important;
}

.txt-color-orange {
  color: #f04e30 !important;
}

/* bg Color */
.bg-cyan {
  background-color: #01b3bb !important;
}

.bg-blue {
  background-color: #0066cc !important;
}

.bg-lt-blue {
  background-color: #496877 !important;
}

.bg-sky {
  background-color: #99ccff !important;
  color: #333 !important;
}

.bg-whgrey {
  background-color: #f5f5f5 !important;
}

.bg-white {
  background-color: #fff !important;
  color: #005b9e !important;
}

.bg-grey {
  background-color: #888888 !important;
}

.bg-lt-grey {
  background-color: #eee !important;
}

.bg-yellow {
  background-color: #ffcc00 !important;
}

.bg-green {
  background-color: #abdc15 !important;
}

.bg-lt-green {
  background-color: #ecf3ef !important;
}

.bg-red {
  background-color: #ff0033 !important;
}

.bg-orange {
  background-color: #ff6633 !important;
}
/* Float */
.f-left {
  float: left;
}

.f-right {
  float: right;
}

.f-none {
  float: none !important;
}

.clearfix {
  clear: both !important;
}

.clear:after {
  clear: both;
  display: block;
  content: "";
}

/* Text Style */
.txt-hidden {
  text-indent: -9999em;
  font-size: 0;
  color: transparent;
}

.txt-cnt {
  text-align: center !important;
}

.txt-left {
  text-align: left !important;
}

.txt-right {
  text-align: right !important;
}

/* Hidden */
.hidden,
legend {
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  background: none;
}

/* View */
.pc-view {
  display: block !important;
}

.mo-view {
  display: none !important;
}

/* Icon */
i {
  display: inline-block;
  vertical-align: middle;
  background-size: contain !important;
}

/* Border */
.bo-0 {
  border: 0 !important;
}

/* Spacing */
.p-0 {
  padding: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pt-40 {
  padding-top: 40px !important;
}
.pt-50 {
  padding-top: 50px !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.ph-20 {
  padding: 20px 0 !important;
}

.pw-20 {
  padding: 0 20px !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-12 {
  margin-top: 12px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mh-20 {
  margin: 20px 0 !important;
}

.mw-20 {
  margin: 0 20px !important;
}

.ml-10 {
  margin-left: 10px !important;
}
.ml-20 {
  margin-left: 20px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.mr-4 {
  margin-right: 4px !important;
}

.mr-14 {
  margin-right: 14px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mx-10 {
  margin: 0 10px !important;
}

.my-10 {
  margin: 10px 0 !important;
}

/* size */
.wid-xs {
  max-width: 120px;
}

.wid-s {
  max-width: 200px;
}

.justify {
  display: flex !important;
  justify-content: space-between !important;
}

/* hover */
.table.tb-hov tr:hover {
  background-color: rgba(207, 51, 57, 0.05) !important;
}

@media all and (max-width: 1400px) {
  html {
    font-size: 52.5%;
  }
}

@media all and (max-width: 1200px) {
  html {
    font-size: 48.5%;
  }
}
